<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="description" content="Responsive Bootstrap Landing Page Template">
        <meta name="keywords" content="Bootstrap, Landing page, Template, Registration, Landing">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="author" content="{{ app_author }}">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('public/css/bootstrap.min.css') }}" />
            <link rel="stylesheet" href="{{ asset('public/fonts/font-awesome.min.css') }}" />
            <link rel="stylesheet" href="{{ asset('public/css/material.min.css') }}" />
            <link rel="stylesheet" href="{{ asset('public/css/ripples.min.css') }}" />
            <link rel="stylesheet" href="{{ asset('public/css/main.css') }}" />
            <link rel="stylesheet" href="{{ asset('public/css/responsive.css') }}" />
            <link rel="stylesheet" href="{{ asset('public/css/animate.min.css') }}" />
            <link rel="stylesheet" href="{{ asset('public/css/custom.css') }}" />
        {% endblock %}
    </head>
    <body>
        {% include 'includes/navigation.html.twig' %}
        <div class="content-wrap">
            {% block header %}
                {% include 'includes/header.html.twig' %}
            {% endblock %}

            {% block body %}{% endblock %}

            {% include 'includes/footer.html.twig' %}
        </div>


        {% block scripts %}
            <script src="{{ asset('public/js/jquery-2.1.4.min.js') }}"></script>
            <script src="{{ asset('public/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('public/js/ripples.min.js') }}"></script>
            <script src="{{ asset('public/js/material.min.js') }}"></script>
            <script src="{{ asset('public/js/wow.js') }}"></script>
            <script src="{{ asset('public/js/jquery.mmenu.min.all.js') }}"></script>
            <script src="{{ asset('public/js/count-to.js') }}"></script>
            <script src="{{ asset('public/js/jquery.inview.min.js') }}"></script>
            <script src="{{ asset('public/js/classie.js') }}"></script>
            <script src="{{ asset('public/js/jquery.nav.js') }}"></script>
            <script src="{{ asset('public/js/smooth-on-scroll.js') }}"></script>
            <script src="{{ asset('public/js/smooth-scroll.js') }}"></script>
            <script src="{{ asset('public/js/main.js') }}"></script>
        {% endblock %}



        <script>
            $(document).ready(function() {
                // This command is used to initialize some elements and make them work properly
                $.material.init();
            });
        </script>

    </body>
</html>
